@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* 
    HEADER
*/
header {
    width: 100%;
    height: 86px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.header-left {
    margin-inline: 2vw;
    ;
}

.header-location {
    margin-right: 2vw;
}

.header-location-title {
    color: black;
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.header-location-desc {
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.header-search {
    width: 45vw;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 0px 12px;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 2vw;
}

.header-search svg {
    width: 20px;
    font-weight: 600;
}

.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
}

.header-login {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    margin-inline: 2vw;
}

.header-right {
    width: 6vw;
    min-width: 122px;
    height: 52px;
    margin-right: 10px;
    background-color: rgb(12, 131, 31);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right svg {
    width: 24px;
    margin-right: 8px;
}

::-webkit-scrollbar {
    display: none;
}

/* 
    MAIN
*/
main {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1280px;
}

.section-1,
.section-1 img {
    width: 100%;
}

.section-2 {
    margin: 0 16px;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
    border-radius: 12px;
}

.section-2-img {
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}

.section-3 {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.section-3-img {
    width: 128px;
}

.section-3-img img {
    width: 100%;
}

.section-4 {
    margin: 16px;
}

.section-header {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0px 0px 2px gray;
    margin-bottom: 20px;
}

.section-list {
    max-width: 100%;
    display: flex;
    overflow-y: auto;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    column-gap: 20px;
}

.product-card {
    padding: 12px;
    height: 290px;
    width: 170px;
    cursor: pointer;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px 0px;
}

.product-card img {
    width: 100%;
}

.timing {
    display: flex;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: rgb(243, 243, 249);
    border-radius: 5px;
    margin-bottom: 10px;
}

.timing>img {
    height: 15px;
    width: 15px;
}

.timing>p {
    font-size: x-small;
    font-weight: 900;
    margin: 0;
}

.product-card-title {
    overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    text-shadow: 0px 0px 1px rgb(177, 175, 175);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
}

.product-card-desc {
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 12px;
    color: #757575;
}

.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-action button {
    cursor: pointer;
    width: 66px;
    height: 33px;
    background-color: rgb(247, 255, 249);
    border: 1px solid rgb(12, 131, 31);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-qty {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
/* 
    FOOTER
*/
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 1280px;
}

.row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
}


.row-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
    padding: 10px;
}

.row-2-col-1 {
    width: 25vw;
    font-size: small;
    color: #666666;
    text-align: start;
    padding-right: 50px;
    letter-spacing: -0.25px;
}

.row-2-col-2 {
    display: flex;
    font-weight: 900;
    color: rgb(114, 113, 113);
    align-items: center;
    justify-content: center;
    padding-right: 120px;
}

.row-2-col-2>a>img {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin-inline: 7px;
}

.row-2-col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-3>a {
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-inline: 10px;
}

.row-2-col-3>a>img {
    border-radius: 50%;
}

.row-3 {
    color: #666666;
    font-size: 14px;
    padding: 10px;
    text-align: justify;
    letter-spacing: -0.25px;
}

td {
    padding: 3px 20px;
    color: #666666;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

tr>th {
    text-align: left;
}

.table-2 {
    flex: 4;
}

.table-1 {
    flex: 2;
}